.form-simple input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-simple input[type="mail"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-simple input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.help-block{
    ul{
        margin:0  !important;
        padding: 0 !important;
        li{
            list-style:none;
        }
    }
}

@media screen and (max-width: 991px){
    .login-container{
        margin: 20px 0;
    }
}


@media screen and (min-width: 992px){
    .login-container > div{
        height: 100vh;
        margin: 2px 0;
    }
}

.g-recaptcha{
    display: inline-block;
}

#particles-js{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    &:before{
        left: 42%;
        margin-left: -130px;
    }
    &:after{
        left: 18%;
    }
    &:before, &:after{
        position: absolute;
        content: '';
        width: 875px;
        height: 300%;
        bottom: -100%;
        transform: rotate(-45deg);
        background: rgba(255,255,255,0.07);
    }
}
